ENV=local

GEMINI_API_KEY=
GEMINI_MODEL=gemini-flash-latest
VIRUSTOTAL_API_KEY=
GOOGLE_SAFE_BROWSING_API_KEY=
MOCK_SECURITY_API=false

RABBITMQ_URL=amqp://safefam:safefam-local@localhost:5672/
RABBITMQ_CONSUMER_ENABLED=false

NAIVE_BAYES_MODEL_PATH=data_science/SMSModel/phishing_model_artifact.pkl
NAIVE_BAYES_VECTORIZER_PATH=data_science/SMSModel/phishing_vectorizer.pkl
